<a href="https://colab.research.google.com/github/Divyansh3101/Divyansh3101/blob/main/LAB_1_BY_DG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
COMPREHENSIVE PROGRAAM LAB 1

PRINT SQUARE OF NATURAL NO. 1 TO 10

In [ ]:
1
4
9
16
25
36
49
64
81
100

COUNT NO. OF 6 B/W 1 TO 1000

In [ ]:
count = 0
for i in range(1, 1001):
    count += str(i).count('6')
print(count)

COUNBT NO. OF SPACES BETWEEN STRING

In [ ]:
s = "This is a sample string with spaces."
count = s.count(' ')
print(count)

WRITE TABLE OF 5

In [ ]:
for i in range(1, 11):
    print("5 x", i, "=", 5 * i)

FIND NO. B/W 1 TO 1000 DIVISIBLE BY 2 AND 5

In [ ]:
for i in range(1, 1001):
    if i % 2 == 0 and i % 5 == 0:
        print(i)